<section>
    <div class="landing-page">

    <div class="detail border">
        <h1 class="sub-intro">Hello, I'm</h1>
        <h1 class="name">
            Siddhant
            Barman
        </h1>
        <p class="desc">I am  currently a third-year Computer Science Engineering student. I have proficiency in frontend frameworks such as React and Angular. On the backend, I am
            skilled in Node.js and MongoDB.</p>
        <div class="btn-container">
            <button class="btn">Download CV</button>
            <button class="btn">Contact</button>

        </div>
    </div>
    <div class="img-container">
        <img src="assets/portfolioimage-removebg-preview.png" alt="">
    </div>
</div>

    <div class="marquee-container">
        <marquee width="100%" direction="left" height="100px">
            This is a sample scrolling text that has scrolls in the upper direction.
            </marquee>
    </div>
</section>
