section {

    background-color: black;
    color: white;
}
.landing-page{
    display: flex;
}
.detail {
    box-sizing: border-box;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    background-color: black;
    margin: 2px 5px;
    border-radius: 10px;
    border: 1px solid #dfdfdf;
    padding: 10px 15px;
    color: white;
    transition: all 0.2s;
}

.border {
    width: 50%;
    height: 85vh;
}

.btn:hover {
    color: black;
    background-color: white;
}

.sub-intro {
    margin: 6px 0px;
    font-weight: 400;
    font-size: 2rem;
}

.name {
    margin: 8px 0px;
    color: #14CF93;
    font-size: 2.5rem;
}

.desc {
    margin: 4px 0px;
    font-weight: 400;
    font-size: 1rem;
}

.btn-container {
    padding: 5px 12px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #2d27278f;
    padding-right: 10px;
    transform: rotateY(180deg);

}
.img-container img{
    height: 400px;
    width: 400px;
    object-fit: contain;
}
.marquee-container{
    padding-top: 30px;
    position: relative;
    top: -77px;
    background: black;
}